.Text {
    margin:10px auto;
    max-width: 700px;
}
p.paragraphs {
    display: inline-block;
    max-width: 100%;
    padding: 10px;
    border-radius: 25px;

    background-color: #fae0ba;
    height: 40%;
}

.sentence {
    display: inline-block;
    max-width: 100%;
    background-color: #ecd8d7;
    border-radius: 15px;
    padding: 10px;
}

.textElement {
    display: inline-block;
    max-width: 100%;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    padding: 3px;
    margin: 3px;
}
.textElement:hover{
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px;
    margin: 3px;
    transition: 300ms;
    font-weight: bold;
}

.Word {
    background-color: #cbdbeb;
}

.PunctuationMark {
    background-color: #d3d9ad;
}

.PunctuationMarkForEndOfSentence{
    background-color: #fffebb;
}

.errorGetText{
    color: red;
}